* {
    background-color: #f0f0f0;
}

.navbar {
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Abel', sans-serif;
}
.nav-link{
    font-family: 'Abel', sans-serif;
}

#title {
    font-family: 'Anton', sans-serif;
    font-size: xxx-large;
    text-align: center;
}

#sub-header {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
    text-align: center;
}


.circle {
    width: 5em;
    height: 5em;
    border-radius: 3em;
    border: white solid;
    margin: .5em;
    /*text feature*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

#design-color {
    background-color: #e6563b;
}
#develop-color {
    background-color: #eb9d3a;
}
#host-color {
    background-color: #00aba9;
}
#support-color {
    background-color: #7cb06c;
}

@media screen and (max-width:767px) {
    #design {
        display: flex;
        justify-content: flex-end;
    }

    #support {
        display: flex;
        justify-content: flex-end;
    }
    .featured {
        font-size: small;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
    }
    .mini-circle {
        display: flex;
        justify-content: flex-end;
    }
    #id {
        height:20em;
    }
    #title {
        font-size: 40px;
    }
}
@media screen and (max-width:991px){
    .thumbnails {
        display: none;
    }
}


h6 {
    font-family: 'Abel', sans-serif;
    font-size: medium;
}
.img-thumbnail {
    background-color: #e6e6e6;
}

#security {
    background-size: cover;
}

.mini-circle {
    font-family: 'Anton', sans-serif;
    font-size: small;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured {
    font-family: 'Abel', sans-serif;
    color: black;
}
.mini-design {
    background-color: #e6563b;
}
.mini-develop {
    background-color: #eb9d3a;
}
.mini-support {
    background-color: #7cb06c;
}
.mini-host {
    background-color: #00aba9;
}

.thumbnail-title {
    font-family: 'Anton', sans-serif;
    font-size: x-large;

}