* {
    background-color: lightgray;
}

.nav-bar {
    padding: 0;
    background-color: lightgray;
}

#title {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    text-align: center;
}

#sub-header {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
    text-align: center;
}

.circle {
    width: 5em;
    height: 5em;
    border-radius: 3em;
    border: white solid;
    margin: .5em;
    /*text feature*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

#design-color {
    background-color: #e6563b;
}
#develop-color {
    background-color: #eb9d3a;
}
#host-color {
    background-color: #00aba9;
}
#support-color {
    background-color: #7cb06c;
}

@media screen and (max-width:767px) {
    #design {
        display: flex;
        justify-content: flex-end;
    }

    #support {
        display: flex;
        justify-content: flex-end;
    }
}